---
layout: default
---
<article class="page">
    <h1>{{ page.title }}</h1>
    {{ content }}
</article>

# _includes/header.html
<header class="site-header">
    <div class="container">
        <div class="profile-header">
            <img src="{{ '/assets/images/profilePicCrop.png' | relative_url }}" alt="Gabriel N. Camargo-Toledo" class="profile-pic">
            <div class="profile-info">
                <h1>{{ site.title }}</h1>
                <p class="tagline">"The way to cope with the future is to create it." - Ilya Prigogine</p>
            </div>
        </div>
    </div>
</header>
